{% extends 'patilapa.html' %}

{% block saturs %}

<h1>Atsauksmes</h1>
    {% if session.get("user_id") %}
        <div class="text-end mb-4">
          <a href="{{ url_for('atsauksme') }}" class="btn btn-primary">Rakstīt atsauksmi</a>  
        </div>
    {% else %}
        <p class="text-muted">Lai atstātu atsauksmi, <a href="{{ url_for('login')}}">pieslēdzies</a>.</p>
    {% endif %}


<div class="container mt-5">
    <h2 class="mb-4 text-center">Visas atsauksmes</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lietotājs</th>
                    <th>Atsauksme</th>
                    <th>Datums</th>
                </tr>
            </thead>
            <tbody>
                {% for vards, review, laiks in atsauksme %}
                <tr>
                    <td class="text-center fw-semibold">{{ vards }}</td>
                    <td>{{ review }}</td>
                    <td class="text-center text-muted">{{ laiks.split(" ")[0] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<form method="POST" action="/iztirit" class="mt-4 text-center">
    <button type="submit" class="btn btn-danger" onclick="return confirm('Vai tiešām vēlies dzēst atsauksmes?')">
        Dzēst visas atsauksmes
    </button>
</form>

{% endblock %}